*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
    font-size: 63px;
    color:white;
}
.container{
    background:linear-gradient(to bottom right,black, aqua);
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    text-align: center;
}
.grid{
    display: flex;
    flex-flow: row wrap;
    width: 70%;
    height: 50%;
    /* border: 1px solid black; */
    margin-top: 100px;
    margin-left: 23%;

    
}
.grid div{
    width: 100px;
    height: 50px;
    border: 2px solid black;
    text-align: center;
    font-weight: 700;
    color: black;
    font-size: x-large;

}
.exchange{
    background-color: red;
}   